nav li a{
    text-decoration:none;
    color:white;
    margin:20px;
   
}
img{
    height:200px;
}
.card:hover{
    box-shadow: 5px 5px 15px 1px;
}
.row
{
    margin-bottom:20px !important; 
}
.text-muted
{
    font-size: 12px;
}
nav{
    background-color: #48a8ab !important;
}